<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Slack</title>
		<!-- Styles -->
		<link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="/static/css/<%= template %>.css" rel="stylesheet"></link>
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body>
		<div id="page"></div>
		<!-- Scripts -->
		<% if (locals.user && locals.room) { %>
			<script>
				var USER = '<%= user.local.username %>';
				var ROOM = '<%= room._id %>';
			</script>
		<% } %>
		<script src="/static/js/<%= template %>.js"></script>
		<!-- Used for development purposes -->
		<script src="//localhost:35729/livereload.js"></script>
	</body>
</html>